html {
	font-family: sans-serif;
}

#boardcontainer{
	width: 700px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 100px;
}

table, th, td {
	border: none;
	padding: 0;
	margin: 0;
}

table {
	border-collapse: collapse;
	margin-left: auto;
	margin-right: auto;
}

td {
	width: 40px;
	height: 40px;
	padding: 1px;
	text-align: center;
}

.board_cell {
	display: inline-block;
	width: 100%;
	height: 100%;
	padding: 0;
	background-color: #74C2E1;
	transition: all .15s ease;
}

.board_cell:hover {
	background-color: #64b2d1;
	height: 90%;
	width: 90%;
}

@-webkit-keyframes hovereffect {
	from {
		background-color: #74C2E1;
	}
	to {
		background-color: #add;
	}
}